.project{
    grid-column: 2/14;
    padding: 6rem;

    @media only screen and (max-width: 800px) {
        padding: 0;
        
    }
   
    .project__wrapper
    {
        min-width: 100%;
        width: 100vw;
        display: flex;
        overflow-x: auto;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
          
        .project__wrapper__item
        {
            width: 100%;
            line-height: 110px;
            text-align: center;
            background-color: #000;

            @media only screen and (max-width: 375px) {
                width: 375px !important;
                
            }

            @media only screen and (max-width: 414px) {
                width: 414px !important;
            }

            .project-box__link{
                position: relative;
                z-index: 1000;
            }

            .s-cases-item {
                color: #fff;
                cursor: pointer;
                position: relative;

                @media only screen and (max-width: 375px) {
                    width: 375px !important;
                    
                }

                @media only screen and (max-width: 414px) {
                    width: 414px !important;
                }

                .s-cases-image
                {
                    width: 100%;
                    height: 100%;
                    padding: 50px;
                }

                .s-cases-image .img-c {
                    opacity: .7;
                    will-change: transform;
                    transition: opacity .3s cubic-bezier(.25,.25,.75,.75);
                }

                .img-c {
                    height: 100%;
                    object-fit: cover;
                }
                
                .img-c, .is-incoming {
                    top: 0;
                    left: 0;
                    width: 100%;
                    position: absolute;
                }

                .s-cases-title {
                    z-index: 2;
                    position: inherit;
                    pointer-events: none;
                    text-align: left;
                    // margin-left: 50px;
                    margin-left: -40px;
                    padding: 100px;     
                }
                
                .s-cases-title h3 {
                    opacity: .8;
                    font-weight: 600;
                    font-size: 1.25vw;
                    line-height: 2.292vw;
                    @media only screen and (max-width: 800px) {
                        font-size: 2vw;
                        margin-bottom: 5px;
                      }

                      @media only screen and (max-width: 375px) {
                        font-size: 4vw;
                        margin-bottom: 5px;
                      }
                    
                }
                
                .s-cases-title h2 {
                    font-size: 1.944vw;
                    line-height: 2.917vw;
                    letter-spacing: -.054vw;
                    @media only screen and (max-width: 800px) {
                        font-size: 3vw;
                        font-weight: 700;
                      }

                      @media only screen and (max-width: 450px) {
                        font-size: 6vw;
                        font-weight: 700;
                        line-height: 6vw;
                        margin-top: 10px;
                      }
                }
                
            }
        }
     }
}

   

   .project__wrapper::-webkit-scrollbar{
    display: none;
   }

 








